@import url('https://fonts.googleapis.com/css?family=Lato|Poppins');
.logo {
  text-align: left !important;
  height: 85px;
  margin: auto;
}

.menu-items li {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  margin: 30px;
  font-weight: bold;
  font-size: 30px;
  font-family: Poppins;
  vertical-align: middle !important;
}

.centered {
  text-align: center;
  display: flex;
  justify-content: center;
}

.navbar-default .navbar-toggle {
  border: none !important;
}

.navbar-default {
  border-left: none !important;
  border-right: none !important;
}

.navbar-toggle {
  padding: 30px 10px !important;
}

.sb1 {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 10px;
  height: 400px;
}

.sidebar {
  width: 35%;
}

.krug {
  width: 150px;
  height: 150px;
  background-color: #353630;
  box-shadow: 0px 8px 17px 0 rgba(227, 187, 186, 0.3);
  border: solid 3px #ffffff;
  border-radius: 150px;
  display: block;
  margin: auto;
  margin-top: -65px;
}

.icon {
  float: center;
}

.fon {
  height: 135px;
  background-image: url(images/image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.best3 {
  color: #1f1f2e;
  font-family: Poppins;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.71;
  text-align: center;
  margin: 15px margin-bottom:30px;
  margin-top: 10px;
}

.under {
  font-family: Poppins;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #323249;
  color: var(--dark-two);
  margin-left: 10px;
  margin-top: 8px;
  margin-right: 10px;
}

.group {
  font-size: 14px !important;
  margin-top: 35px;
  text-align: center;
}

.social-icons {
  margin-top: 30px !important;
}

.social-icons li {
  list-style: none;
  display: inline-block;
  margin: 3px;
  border-radius: 100%;
  background-color: #c4ffff;
}

.social-icons li a {
  color: #000 !important;
  text-align: center;
  width: 35px;
  height: 35px;
  padding: 8px !important;
}

.social-icons li a:hover {
  color: #fff !important;
}

.social-icons li a i {
  text-align: center !important;
}

.article {
  height: 445px;
  margin-top: 20px;
  text-align: center;
}

.slider {
  padding: 0px;
  position: relative;
}

.slider-button {
  background-color: #fff !important;
  border-radius: 100% !important;
  padding: 5px 10px !important;
  border: none !important;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 200px;
  z-index: 10;
}

.slider-button:hover {
  background-color: #c4ffff !important;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
}

#block-for-slider {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}

#viewport {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
}

#slidewrapper {
  position: relative;
  width: calc(100% * 4);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(.67, .01, .23, 1);
  -o-transition-timing-function: cubic-bezier(.67, .01, .23, 1);
  transition-timing-function: cubic-bezier(.67, .01, .23, 1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
  margin: 0;
  padding: 0;
}

.slide {
  width: calc(100%/16);
  list-style: none;
  display: inline;
  float: left;
}

.slide-img {
  width: 100%;
}

#prev-btn, #next-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #1f1f2e !important;
  color: #fff;
  border-radius: 50%;
  top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
  cursor: pointer;
}

#prev-btn {
  left: 20px;
}

#next-btn {
  right: 20px;
}

#nav-btns {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.slide-nav-btn {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin: 3px;
}

.slide-nav-btn:hover {
  cursor: pointer;
}

.blur-background {
  z-index: 100;
  background-image: url(images/image.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
}

/* Nuka */

.button--nuka {
  margin: 1em 2em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--nuka.button--inverted {
  color: #37474f;
}

.button--nuka::before, .button--nuka::after {
  content: '';
  position: absolute;
  border-radius: inherit;
  background: #7986cb;
  z-index: -1;
}

.button--nuka::before {
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  opacity: 0.2;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.button--nuka::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(1.1, 1, 1);
  transform: scale3d(1.1, 1, 1);
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}

.button--nuka::before, .button--nuka::after {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--nuka.button--inverted::before, .button--nuka.button--inverted::after {
  background: #fff;
}

.button--nuka:hover {
  color: #fff;
}

.button--nuka:hover::before {
  opacity: 1;
}

.button--nuka:hover::after {
  background-color: #37474f;
}

.button--nuka.button--inverted:hover::after {
  background-color: #6495ED;
}

.button--nuka:hover::after, .button--nuka:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* Box colors */

.bg-1 {
  background: #ECEFF1;
  color: #37474f;
}

.bg-2 {
  background: #7986cb;
  color: #ECEFF1;
}

.bg-3 {
  background: #37474f;
  color: #fff;
}

/* Common button styles */

.button {
  float: left;
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.button:focus {
  outline: none;
}

.button>span {
  vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */

.bg-1 .button {
  color: #37474f;
  border-color: #37474f;
}

.bg-2 .button {
  color: #ECEFF1;
  border-color: #ECEFF1;
}

.bg-3 .button {
  color: #fff;
  border-color: #fff;
}

/* Sizes */

.button--size-s {
  font-size: 14px;
}

.button--size-m {
  font-size: 16px;
}

.button--size-l {
  font-size: 18px;
}

/* Typography and Roundedness */

.button--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button--text-thin {
  font-weight: 300;
}

.button--text-medium {
  font-weight: 500;
}

.button--text-thick {
  font-weight: 600;
}

.button--round-s {
  border-radius: 5px;
}

.button--round-m {
  border-radius: 15px;
}

.button--round-l {
  border-radius: 40px;
}

/* Borders */

.button--border-thin {
  border: 1px solid;
}

.button--border-medium {
  border: 2px solid;
}

.button--border-thick {
  border: 3px solid;
}

.form-row {
  margin-bottom: 8px;
  overflow: hidden;
}

.form-row input {
  float: right;
  height: 19px;
  line-height: 19px;
  margin: 0px;
  padding: 0px 5px;
  width: 287px;
  border: 1px solid #ABADB3;
}

.reg-form {
  width: 416px;
  margin: 0 auto;
}

.form-row textarea {
  height: 90px;
  line-height: 16px;
  font-size: 12px;
  padding: 0px 5px;
  width: 404px;
  border: 1px solid #ABADB3;
}

.form-row input[type=submit] {
  padding: 5px;
  height: 25px;
  width: 100%;
  line-height: 10px;
  background: #337AB7;
  color: white;
}

.form-row input[type=submit]:hover {
  background: #286090;
}

* {
  font-family: arial;
  font-size: 10pt;
}
