<!DOCTYPE html>
<html lang="ru">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>HseStartCurators</title>
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'images/logo.png')}}">
	<link rel="stylesheet" href="{{url_for('static', filename = 'font-awesome/css/font-awesome.min.css')}}">
    <!-- Bootstrap -->
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

  </head>

<header>

	  	<nav class="navbar navbar-default" style="height: auto; background:inherit;">

				<div class="row" style="margin:0!important">
					<div class="col-xs-12 col-md-1" style="padding-left:2em; padding-top: 0.5em;">
				  <a href="/">
				  			<img class="logo" style="transform: scaleX(-1);" src="{{url_for('static', filename = 'images/logo.png')}}"></a>
				  	</div>

				<div class="menu-items centered col-sm-12 col-md-11" style="text-orientation: center; padding:0!important">
					<button onclick="window.location.href='/quiz'" class="button button--nuka button--round-l button--inverted button--text-thick button--text-upper button--size-s">Quiz</button>
          <button onclick="window.location.href='/curators'" class="button button--nuka button--round-l button--inverted button--text-thick button--text-upper button--size-s">Curators</button>
          <button onclick="window.location.href='/teachers'" class="button button--nuka button--round-l button--inverted button--text-thick button--text-upper button--size-s">Teachers</button>
          <button onclick="window.location.href='https://ba.hse.ru/faq'" class="button button--nuka button--round-l button--inverted button--text-thick button--text-upper button--size-s">FAQ</button>
          
          <button onclick="window.location.href='/contacts'" class="button button--nuka button--round-l button--inverted button--text-thick button--text-upper button--size-s">Contacts</button>
          <li><a cl type="button" data-toggle="collapse" name="exitbutton" aria-expanded="false">

            <a href="/logout"><i crass="fa fa-sign-out fa-lg" aria-hidden="true" style="font-size: 3em"></i></a></button></li>
				</div>
			</div>

</header>
  <body style=" height: -webkit-fill-available;background: #BBD2C5; background: -webkit-linear-gradient(to bottom, #292E49, #536976, #BBD2C5);background: linear-gradient(to bottom, #292E49, #536976, #BBD2C5);">
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Aida.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Шарапова Аида Азатовна</div>
          <div class="under">  10.04.1999 <br> 1 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Andrey.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Петров Андрей Игоревич</div>
          <div class="under">  11.08.1999 <br> 2 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/AndreyS.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Сосулин Андрей Дмитриевич</div>
          <div class="under">  03.03.1999 <br> 1 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Anna.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Кулева Анна Витальевна</div>
          <div class="under"> 15.09.1999 <br> 1 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Baya.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Нимгирова Байрта Юрьевна</div>
          <div class="under"> 24.10.1999 <br> 1 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Borya.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Неклюдов Борис Владимирович</div>
          <div class="under"> 07.08.1999 <br> 2 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Dany.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Арендарский Даниил Дмитриевич</div>
          <div class="under">  14.12.1999 <br> 1 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Dasha.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Бубнова Дарья Александровна</div>
          <div class="under">  14.11.1998 <br> 2 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Es.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Белявская Эсфирь Александровн</div>
          <div class="under">  03.03.1998 <br> 1 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Esti.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Хахан Маргарита Львовна</div>
          <div class="under">  14.01.1998 <br> 2 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Ilya.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Бузько Илья Викторович</div>
          <div class="under"> 18.07.1999 <br> 1 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Katy.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Новичкова Екатерина Алексеевна</div>
          <div class="under">  11.08.1999 <br> 2 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Lisa.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Лашкевич Елизавета Витальевна</div>
          <div class="under">04.12.1999 <br> 1 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Mariam.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Степанян Мариам Арташесовна</div>
          <div class="under"> 11.08.1999 <br> 1 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Max.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Кан Максим Валериевич</div>
          <div class="under"> 11.08.1999 <br> 1 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Narek.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Алвандян Нарек Аршакович</div>
          <div class="under">21.03.2000 <br> 1 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Petya.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Платонов Петр Леонидович</div>
          <div class="under"> 15.08.1999 <br> 1 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Rodya.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Данилин Родион Михайлович</div>
          <div class="under">  16.10.1999 <br> 1 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Rustam.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Шклярук Рустам Олегович</div>
          <div class="under"> 07.12.1999 <br> 1 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Shagane.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Мирзоян Шагане Багратовна</div>
          <div class="under">  02.02.1999 <br> 1 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Vanya.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Захаров Иван Сергеевич</div>
          <div class="under"> 25.01.1998 <br> 2 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Vera.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Хан Вера Игоревна</div>
          <div class="under"> 07.09.1999 <br> 1 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;">
    <div class="krug" style="background-image: url(images/Curators/Vika.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Зотова Виктория Алексеевна</div>
          <div class="under">  26.09.1999 <br> 1 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>
  <div class="container col-xs-12 col-md-3" style="padding-top:11em;padding-bottom:3em;">
    <div class="krug" style="background-image: url(images/Curators/Vlada.jpg);background-size: cover">
        <ul class="group col-sm-12 col-md-12">
  </div>

  <div class="best3">Коковкина Владислава Викторовн</div>
          <div class="under">  01.08.1998 <br> 2 курс, Бизнес-Информатика </div>
          <nav class="navbar1 navbar-default" style="height: auto"  >
          <ul class="nav navbar-nav social-icons col-sm-12 col-md-12 centered" style="padding-right: 0px;">
           <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
       </nav>
</ul>
  </div>



</body>
</html>
